.latest {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin-top: 24px;
        text-align: center;
    }
    .latest-carousel {
        margin-top: 24px;
    }
    .carouselIndicator {
        width: 5px;
        height: 5px;
        border-radius: 100%;
    }
    .carousel-inner {
        border-radius: 4px;
    }
}