@mixin make-heading($desktop, $tablet, $mobile, $line-height, $font-weight: 700) {
    margin-top: 0;
    margin-bottom: 0rem;
    font-family: $font-primary;
    font-weight: #{$font-weight};
    font-size: #{$mobile};
    line-height: #{$line-height};
      @media (min-width: $breakpoint-md) {
          font-size: #{$tablet};
      }
    @media (min-width: $breakpoint-xl) {
      font-size: #{$desktop};
    }
  }
  
  h1, .h1 {
    @include make-heading($fs-xxxl, $fs-xxxl, $fs-xxxl, $lh-base, map-get($fw, bold));
  }
  h2, .h2 {
    @include make-heading($fs-xxl, $fs-xxl, $fs-xxl, $lh-base, map-get($fw, bold));
  }
  h3, .h3 {
    @include make-heading($fs-xxl, $fs-xl, $fs-xl, $lh-base, map-get($fw, bold));
  }
  h4, .h4 {
    @include make-heading($fs-l, $fs-m, $fs-base-desktop, $lh-base, map-get($fw, bold));
  }
  h5, .h5 {
    @include make-heading($fs-m, $fs-m, $fs-base, $lh-base, map-get($fw, bold));
  }
  h6, .h6 {
    @include make-heading($fs-base, $fs-base, $fs-base, $lh-base, map-get($fw, bold));
  }
  
  p {
    font-size: $fs-base-desktop;
    margin-top: 0;
    margin-bottom: 0rem;
  }